.navTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  max-width: 1,344px;
}

.navTop p{
  padding-top: 20px;
  margin: 0 20px 0 0;
  font-size: 15px;
}