@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../fonts/AppleSDGothicNeoR.ttf");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../../../fonts/SF-Pro-Display-Bold.otf");
}

.solutionBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.number {
  font-family: "Apple_Gothic_Neo_EBold";
  font-size: 40px;
  margin-top: 0px;
}

.solutionName {
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 35px;
  margin-top: -20px;
}

.solutionSubName {
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 35px;
  margin-top: -30px;
}

.hashtag {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 35px;
  margin-top: -30px;
}

.img {
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
}
