@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../fonts/AppleSDGothicNeoR.ttf");
}



.pageBox {
  padding-top: 10px;
  padding-bottom: 100px;
  height: 100%;
  background-color: rgb(235, 235, 235);
  
}

.introBox {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: default;
}

@keyframes box-ai {
  from {
    transform: translate(-30px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}

.AI {
  width: 100%;
  max-width: 500px;
  margin-top: -60px;
  margin-right: 70px;
  animation: box-ai 1.5s linear forwards; 

}

@media screen and (max-width: 1024px) {
  .AI{
    display: none;
  }
  .vLine1{
    display: none;
  }
  .vLine2{
    display: none;
  }
  .vLine3{
    display: none;
  }
  .vLine4{
    display: none;
  }


}


@keyframes box-intro {
  from {
    transform: translate(30px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}

.introTextBox {
  padding-top: 120px;
  text-align: left;
  animation: box-intro 1.5s linear forwards; 
}

.introTitle1 {
  font-family: "Apple_Gothic_Neo_EBold";
  font-weight: bold;
}

.introTextBox h1 {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 70px;
  margin-top: -10px;
  color: #1d36a3;
}

.introTextBox h2 {
  font-family: "Apple_Gothic_Neo_Light";
  margin-top: -60px;
  font-size: 30px;
  color: #1d36a3;
}

.introContent1 {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
}

.introContent2 {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 18px;
}

.introContent3 {
  font-family: "Apple_Gothic_Neo_R";
  margin-top: -15px;
  font-size: 18px;
}

/* 숫자 카운트 */
.countBox {
  width: 80%;
  max-width: 1200px;
  height: 150px;
  background-color: rgb(253, 250, 245);
  border-radius: 10px;
  margin: auto;
  cursor: default;
}

.countSubBox{
  display: flex;
  justify-content: space-evenly;
  margin-top: -5px;
}

.countBoxTitle{
  font-family: "Apple_Gothic_Neo_Bold";
  color: #1d36a3;
  padding-top: 20px;
}


.count1 {
  display: flex;
}

.count1 p{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 23px;
}

.count1 h3{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 45px;
  margin-top: 5px;
  color: #1d36a3;
}

.count2 {
  display: flex;
}

.count2 p{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 23px;
}

.count2 h3{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 45px;
  margin-top: 5px;
  color: #1d36a3;
}

.count3 {
  display: flex;
}

.count3 p{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 23px;
}

.count3 h3{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 45px;
  margin-top: 5px;
  color: #1d36a3;
}




.mainBox {
  width: 60%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  cursor: default;
}

.titleBox{
  margin-bottom: 50px;
}

.titleBox h1 {
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 60px;
}

.titleBox h2 {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 25px;
  margin-top: -30px;
}

.titleBox h3 {
  font-family: "Apple_Gothic_Neo_ULight";
  font-size: 23px;
  margin-top: -15px;
}

.hrTop {
  height: 7px;
  border: none;
  background-color: #48589c;
}

.solutionItem {
  display: flex;
}

.vLine1 {
  width: 15px;
  height: auto;
  background-color: #005FB3;
  border: none;
  margin-right: 50px;
}

.solutionBox1{
  width: 100%;
  padding-top: 30px;
  display: flex;
  color: #005FB3;
  margin-bottom: 30px;

  
}

.vLine2 {
  width: 15px;
  height: auto;
  background-color: #6F5552;
  border: none;
  margin-right: 50px;
}

.solutionBox2{
  width: 100%;
  padding-top: 30px;
  display: flex;
  color: #6F5552;
  margin-bottom: 30px;

  
}

.vLine3 {
  width: 15px;
  height: auto;
  background-color: #4234C6;
  border: none;
  margin-right: 50px;
}

.solutionBox3{
  width: 100%;
  padding-top: 30px;
  display: flex;
  color: #4234C6;
  margin-bottom: 30px;

  
}

.vLine4 {
  width: 15px;
  height: auto;
  background-color: #105853;
  border: none;
  margin-right: 50px;
}

.solutionBox4{
  width: 100%;
  padding-top: 30px;
  display: flex;
  color: #105853;
  margin-bottom: 30px;

  
}





