@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../fonts/AppleSDGothicNeoR.ttf");
}



.InputLabel {
  width: auto;
  text-align: left;
  margin-top: 40px;
}

.InputLabel label input {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding-bottom: 2.5px;
}
