@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoM.ttf")
}

.filebox form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filebox .uploadName {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 200px;
  color: #999999;
  border-radius: 5px;
}

.filebox label {
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 12px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox button{
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 12px;
  background-color: #b02626;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 50px;
  margin-left: 10px;
}