.navBar {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.navBar img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 70px;
}

.navBarItems {
  width: 70%;
  max-width: 1344px;
  margin-right: 70px;
}
