@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../fonts/AppleSDGothicNeoR.ttf");
}



.developerBox{
  display: flex;
  margin-top: 280px;
}

.developer {
  text-align: left;
  margin-left: 30px;
  width: 150px;
}

.developerName{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
}

.developerRole{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 20px;
  margin-top: -10px;
}

.developertext{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  margin-top: -10px;
}

.developerBox img{
  border-radius: 10px;
}