@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../../fonts/AppleSDGothicNeoR.ttf");
}

.pageBox{
  height: 100%;
  padding-top: 10px;
  background-color: rgb(235, 235, 235);
  padding-bottom: 120px;
}

.topBox {
  width: 70%;
  height: 180px;
  border-radius: 8px;
  background-color: white;
  margin: auto;
  margin-top: 32px;
  box-shadow: 1px 1px 3px 5px #dadce0;
}

.pageName {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 30px;
  color: #1d36a3;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
}

.countSubBox{
  display: flex;
  justify-content: space-evenly;
  margin-top: -5px;
}

.count1 {
  display: flex;
}

.count1 p{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 23px;
}

.count1 h3{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 45px;
  margin-top: 5px;
  color: #1d36a3;
}


.count2 {
  display: flex;
}

.count2 p{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 23px;
}

.count2 h3{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 45px;
  margin-top: 5px;
  color: #1d36a3;
}

.count3 {
  display: flex;
}

.count3 p{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 23px;
}

.count3 h3{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 45px;
  margin-top: 5px;
  color: #1d36a3;
}



.pageSubBox{
  width: 70%;
  margin: auto;
}

.pageTitle{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 27px;
  margin-top: 70px;

}

.pageTitle2{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 20px;
  margin-top: -20px;
}

.typeBox{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  
}

.organization{
  width: 300px;
  transition: all 0.2s linear;
  box-shadow: 1px 1px 3px 5px #dadce0;
  cursor: pointer;
}

.organization:hover{
  width: 320px;
}

.user{
  width: 300px;
  transition: all 0.2s linear;
  box-shadow: 1px 1px 3px 5px #dadce0;
  cursor: pointer;
}

.user:hover{
  width: 320px;
}

.worker{
  width: 300px;
  transition: all 0.2s linear;
  box-shadow: 1px 1px 3px 5px #dadce0;
  cursor: pointer;
}

.worker:hover{
  width: 320px;
}

.p1{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 25px;
}

.p2{
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 20px;
  margin-top: -20px;
}



/* 
.pageBox {
  background-color: rgb(235, 235, 235);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topBox {
  width: 70%;
  height: 180px;
  border-radius: 8px;
  background-color: white;
  margin: auto;
  margin-top: 42px;
}

.loginBox{
  margin-bottom: 70px;
}

.pageBox h3 {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 30px;
}

.pageText {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 21px;
  margin-top: -15px;
}

.hLine {
  border-bottom: 2px solid rgb(202, 202, 202);
  width: 420px;
  margin: auto;
}

.typeBox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.typeOne {
  margin-right: 20px;
}

.organization {
  cursor: pointer;
  border: 2px solid rgb(235, 235, 235);
}

.organization:hover {
  border-radius: 8px;
  border: 2px solid rgb(95, 95, 95);
}

.user {
  cursor: pointer;
  border: 2px solid rgb(235, 235, 235);
}

.user:hover {
  border-radius: 8px;
  border: 2px solid rgb(95, 95, 95);
}

.typeOne p {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
}

.typeTwo {
  margin-left: 25px;
  margin-right: 20px;
}

.typeTwo img {
  border-radius: 8px;
  height: 160px;
  cursor: pointer;
  border: 2px solid rgb(219, 219, 219);
}

.typeTwo img:hover {
  border-radius: 8px;
  border: 2px solid rgb(95, 95, 95);
}

.worker {
  cursor: pointer;
  border: 2px solid rgb(235, 235, 235);
}

.worker:hover {
  border-radius: 8px;
  border: 2px solid rgb(95, 95, 95);
}

.typeTwo p {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
}

.typeThree {
  margin-left: 30px;
}

.typeThree img {
  border-radius: 8px;
  height: 160px;
  cursor: pointer;
  border: 2px solid rgb(219, 219, 219);
}

.typeThree img:hover {
  border-radius: 8px;
  border: 2px solid rgb(95, 95, 95);
}

.typeThree p {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
}

.signupBox {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-family: "Apple_Gothic_Neo_R";
  font-size: 18px;
  cursor: pointer;
}

.signupImg {
  margin-top: 17px;
  margin-left: 5px;
}

.signupBox:hover {
  font-weight: bold;
} */
