@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../fonts/AppleSDGothicNeoR.ttf");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../../fonts/SF-Pro-Display-Bold.otf");
}

.pagebox {
  text-align: left;
  /* width: calc(100% - 250px); */
  height: 100%;
  background-color: rgb(235, 235, 235);
}

.topBox {
  width: 70%;
  height: 260px;
  border-radius: 8px;
  background-color: white;
  margin: auto;
}

.pageName {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 30px;
  color: #b02626;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 30px;
}

.phoneDap{
  font-family: "Apple_Gothic_Neo_Mid";
  margin-top: 0px;
}

.inputBox {
  display: flex;
  justify-content: space-evenly;
}

.btn{
  font-family: "Apple_Gothic_Neo_Light";
  border: none;
  background-color: #b02626;;
  color: white;
  border-radius: 2px;
  width: 60px;
  padding-top: 4px;
  float: right;
  cursor: pointer;

}


.bottomBox {
  width: 70%;
  margin: auto;
}

.bottomBox p {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 20px;
}

.subBottomBox {
  display: flex;
  justify-content: space-evenly;
}

.quoteBox {
  width: 480px;
}

.aatsName {
  font-family: "Apple_Gothic_Neo_EBold";
  font-weight: bold;
  
  
}

.quote2{
  float: right;
}

.ceo {
}



@media screen and (max-width: 768px) {
  .ceoBox {
    display: none;
  }
  
  
}



