@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

.navLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  width: 80%;
  margin-left: 10px;
  font-family: "Apple_Gothic_Neo_Light";
}

.navLeft p {
  margin: 0 0 0 15px;
  font-size: 24px;
  cursor: pointer;
}

.navLeftHidden {
  visibility: hidden;
  display: inline-block;
}
