@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../../fonts/AppleSDGothicNeoR.ttf");
}

.summaryBox{
  width: 100%;
}

.summaryTitle{
  width: 78%;
  margin: auto;
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 27px;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
}

.summary{
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #acacac; */
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 260px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 5px grey;
}

.today{
  font-family: "Apple_Gothic_Neo_EBold";
  font-size: 29px;
  margin-top: 0px;
}

.today2{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.verticalHr {
  height: 80%;
  margin: 0;
  width: 2px;
  background-color: rgb(231, 231, 231);
  color: rgb(231, 231, 231);
  border: none;
}

.firstBox{
  width: calc(45% - 125px);
  text-align: left;
  margin-left: 30px;
  
  /* margin: auto; */
  /* margin-top: -20px; */
}
.timeBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.startBtn{
  background-color: white;
  height: 90px;
  width: 45%;
  text-align: center;
  color: black;
}

.endBtn{
  background-color: #4786FF;
  /* background-color: rgb(30, 177, 30); */
  height: 90px;
  width: 45%;
  text-align: center;
  margin-right: 20px;
  color: white;
}

.startP1{
  
}

.startP2{
  font-family: "Apple_Gothic_Neo_Bold";
}

/* 두번째 박스 */

.commuteBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.attendanceBox{
  text-align: left;
}

.attendanceText1{
  display: flex;
  justify-content: space-between;
}

.attendanceBoxP1{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 18px;
  border: none;
  background-color: rgb(18, 212, 18);
  color: white;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.attendanceBoxP2{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 18px;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.attendanceBoxP3{
  font-family: "Apple_Gothic_Neo_R";
  font-size: 18px;
  border: none;
  background-color: rgb(250, 0, 0);
  color: white;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.normalAttendance{
  font-family: "Apple_Gothic_Neo_R";
}

.normalAttendance2{
  font-family: "Apple_Gothic_Neo_Bold";
}

.leaveBox{
  text-align: left;
}
.secondBox{
  width: 300px;
  /* margin: auto; */
  margin-left: 20px;
  
}
.thirdBox{
  width: calc(45% - 125px);
  margin: auto;
  
}