@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../../fonts/AppleSDGothicNeoL.ttf");
}

.box {
  margin: 5%;
  width: 90%;
  display: flex;
  font-family: "Apple_Gothic_Neo_Light";
}

.test {
  width: 100%;
}

.rbc-calendar {
  font-family: "Apple_Gothic_Neo_Light";
}