@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../fonts/AppleSDGothicNeoR.ttf");
}



.pagebox {
  text-align: left;
  width: calc(100% - 250px);
  height: 100%;
  margin-left: 60px;
  margin-top: 10px;
}


.titlebox h1 {
  font-family: "Apple_Gothic_Neo_Bold";
  margin-top: 40px;
}

.titlebox h3 {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: auto;
  width: 90%;
}

.hr {
  float: left;
  width: 90%;
  height: 3px;
  background-color: #c0c0c0;
  border: none;
  margin-top: -5px;
}

.mainbox {
  display: flex;
  width: 90%;
}
.contentbox {
  width: 50%;
}

.contentboxone label p {
  font-family: "Apple_Gothic_Neo_EBold";
  font-size: 21px;
}

.contentboxone label input {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 16px;
  width: 100%;
  max-width: 600px;
  border: none;
  outline: none;
  border-bottom: 2px solid lightgray;
  border-radius: 3px;
  margin-bottom: 13px;
  padding-bottom: 8px;
  margin-top: -5px;
  /* cursor: pointer; */
}

.contentboxone label input:hover {
  font-weight: bold;
}

.contentboxtwo p {
  font-family: "Apple_Gothic_Neo_EBold";
  font-size: 20px;
}

.contentboxtwo input {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 16px;
  width: 100%;
  max-width: 600px;
  outline: none;
  border: solid 2px lightgray;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 80px;
  border-radius: 5px;
  margin-bottom: 10px;
  /* cursor: ; */
}

.contentboxtwo input:hover {
  font-weight: bold;
}

.contactbtn {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  background-color: #4786ff;
  color: white;
  float: right;
  border: none;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.contactbtn:hover {
  background-color: #396fd3;
}

/* 두 번째 칸 이미지 부분 */

.imgbox {
  width: 70%;
  margin-left: 70px;
}

.imgbox h3 {
  font-family: "Apple_Gothic_Neo_Bold";
  text-align: center;
  font-size: 24px;
  color: #ff5732;
  margin-top: 60px;
}



.imgemail {
  font-family: "Apple_Gothic_Neo_Light";
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: #000000;
}

.imgcontetnt {
  text-align: center;
  font-size: 15px;
  font-family: "Apple_Gothic_Neo_R";
  margin-top: -13px;
  color: #3a3a3a;
}

.contactimg {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin-top: 80px;
}


@media screen and (max-width: 1024px) {
  .pagebox{
    width: 100%;
    margin-left: 10%;
  }
  .imgbox{
    display: none;
  }
  .contentbox{
    width: 100%;
  }
}