@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

.box {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Apple_Gothic_Neo_Light";
}

.test {
  width: 100%;
}

.rbc-calendar {
  font-family: "Apple_Gothic_Neo_Light";
}