@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_H";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../fonts/AppleSDGothicNeoR.ttf");
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  position: absolute;
  cursor: default;
}

.left {
  display: flex;
  align-items: center;
}

.left1 {
  font-family: "Apple_Gothic_Neo_H";
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.left2 {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 20px;
}

.right1 {
  font-family: "Apple_Gothic_Neo_Mid";
  margin-right: 20px;
  font-size: 20px;
}
