.NewsBox {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 1rem;
}

.SlideBox {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.SlideWrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.NewsItem {
  width: 100%;
  margin: 0 1rem;
}
