@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../../../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../../../fonts/AppleSDGothicNeoR.ttf");
}

.page {
  width: 60%;
  margin: auto;
  height: 100vh;
}

.title {
  font-family: "Apple_Gothic_Neo_EBold";
  text-align: left;
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 1%;
}

.date{
  text-align: left;
  font-family: "Apple_Gothic_Neo_R";
  margin-top: 0;
}

.hrLine{

}

.container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.img {
  width: 70%;
  float: left;
  margin-bottom: 1%;
  margin-top: 1%;
}

.contentBox{
  width: 70%;
  text-align: left;
}

.content{
  text-align: left;
  font-family: "Apple_Gothic_Neo_R";
}

.gptBox{
  display: flex;

}

.gpt{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.gptText{
  margin-left: 1%;
  font-family: "Apple_Gothic_Neo_Mid";
}
