@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_EBold";
  src: url("../../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_R";
  src: url("../../fonts/AppleSDGothicNeoR.ttf");
}

.aboutUs {
  width: 100%;
}

.developerBox {
  width: 100%;
  position: relative;
}

.developerImgBox {
  width: 100%;
  vertical-align: middle;
}

.developerImg {
  width: 100%;
}

.developerTextBox {
  position: absolute;
  top: 20%;
  width: 100%;
}

.pageName {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 25px;
}

.pageSubName {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 17.5px;
  margin-top: -30px;
}

@media (min-width: 480px) {
  .pageName {
    font-family: "Apple_Gothic_Neo_Light";
    font-size: 40px;
  }

  .pageSubName {
    font-family: "Apple_Gothic_Neo_R";
    font-size: 20px;
    margin-top: -15px;
  }
}

@media (min-width: 1024px) {
  .pageName {
    font-family: "Apple_Gothic_Neo_Light";
    font-size: 60px;
  }

  .pageSubName {
    font-family: "Apple_Gothic_Neo_Light";
    font-size: 30px;
    margin-top: -30px;
  }
}

.introduceBox p {
  font-family: "Apple_Gothic_Neo_R";
  font-size: 20px;
  margin-top: -7px;
}

.developerIntroduceBox {
  display: flex;
  justify-content: center;
}

.vLine {
  border: 1px solid rgb(228, 228, 228);
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  width: 0.1px;
  margin-left: 20px;
  margin-right: 20px;
}

.leftBox {
  width: 35%;
}

.rightBox {
  width: 35%;
}
